In [1]:
# 載入套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# 初始設定 Ages 的資料
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})
ages

    age
0    18
1    22
2    25
3    27
4     7
5    21
6    23
7    37
8    30
9    61
10   45
11   41
12    9
13   18
14   80
15  100

In [10]:
bin_cut = [0,10,20,30,50,100]
ages["customized_age_grp"] = pd.cut(ages["age"], bins = bin_cut,labels=['baby', 'juvenile', 'youth','prime of life','elderly'])
ages

    age customized_age_grp
0    18           juvenile
1    22              youth
2    25              youth
3    27              youth
4     7               baby
5    21              youth
6    23              youth
7    37      prime of life
8    30              youth
9    61            elderly
10   45      prime of life
11   41      prime of life
12    9               baby
13   18           juvenile
14   80            elderly
15  100            elderly